# --- IDE / Tooling ---
.idea/
*.iml
.gradle/
/local.properties
local.properties
secrets.properties
local.defaults.properties
.DS_Store

# --- Build Output ---
/build/
app/build/
/captures/
.externalNativeBuild/
.cxx/

# --- Android Studio specific ---
*.hprof